{% include head-dark.html %}

<div id='bump'>
    <div style="position:absolute;fload:left; margin: 200px 5.5%;">
        <h4>分类列表</h4>
        <hr>
        {% for category in site.categories %}
        <li class="category_list_item"><a href="/showCategory.html?categoryName={{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})
        </li>
        {% endfor %}
    </div>
    <section class="article archive">
        <article class="archive-wrap">
            <ol class="post-list">
                <lh><h2><span class="bb">{{ page.title }}<span style="font-size: small"> 知之者不如好之者，好之者不如乐知者</span></span></h2></lh>
                <!--{% for post in site.posts %}-->
                <!--<li>-->
                <!--<div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">-->
                <!--<h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>-->
                <!--<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>-->
                <!--<p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--{% endfor %}-->


                <!-- This loops through the paginated posts -->
                {% for post in paginator.posts %}
                <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date">
                            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date |
                                date: "%B %d, %Y" }}
                            </time>
                        </p>
                        <p class="">{% if post.description %}{{ post.description | strip_html | strip_newlines |
                            truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{%
                            endif %}</p>
                    </div>
                </li>
                {% endfor %}


            </ol>
            <!-- Pagination links -->
            <h4>
                <div class="pagination post-list">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                    {% else %}
                    <span class="previous">Previous</span>
                    {% endif %}
                    <span class="page_number ">Page: {{ paginator.page }} / {{ paginator.total_pages }}</span>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    {% else %}
                    <span class="next ">Next</span>
                    {% endif %}
                </div>
            </h4>

        </article>
    </section>

</div>

{% include footer.html %}